<div class="checkout-delivery">
    <div class="container">
        <div class="cart">
            <div class="no-location-found">
              <div class="frame"><div class="text-wrapper-6">عنوان التوصيل</div></div>
              <div class="component">
                <div class="frame-wrapper">
                  <div class="profile-menus-wrapper">
                    <div class="profile-menus">
                      <span class="get-from-branch-arrow" [class.rotate] = "showGetFromBranchContent == false" (click)="showGetFromBranchContent = !showGetFromBranchContent"><img class="img" src="images/checkout/arrow-down-01-round-4.svg" /></span>
                      <div class="frame-2">
                        <div class="frame-3">
                          <div class="text-wrapper-7">الاستلام من الفرع</div>
                          <p class="element">فرع المونسية، شارع الصحابة -&nbsp;&nbsp;9 صباحاً الى 11 مساءً</p>
                        </div>
                        <div class="div-4"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="div-5">
                  <div class="frame-4" *ngIf="showGetFromBranchContent">
                    <div class="company-deliver">
                      <div class="profile-menus-wrapper-2">
                        <div class="profile-menus-2">
                          <div class="frame-5">
                            <div class="frame-3">
                              <div class="frame-6">
                                <p class="p"><span class="span"> 5كم | </span> <span class="text-wrapper-8">مفتوح</span></p>
                                <div class="text-wrapper-9">اقرب فرع لك،</div>
                              </div>
                              <div class="text-wrapper-10">فرع المونسية، شارع الصحابة</div>
                            </div>
                            <div class="checkbox-radiobox"><div class="ellipse-2"></div></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="company-deliver">
                      <div class="profile-menus-wrapper-2">
                        <div class="profile-menus-2">
                          <div class="frame-5">
                            <div class="frame-3">
                              <div class="frame-6">
                                <p class="p">
                                  <span class="span"> 11كم | </span> <span class="text-wrapper-8">مفتوح</span>
                                </p>
                                <div class="text-wrapper-9">فرع الثمامة</div>
                              </div>
                              <div class="text-wrapper-10">فرع الثمامة، شارع الثمامة</div>
                            </div>
                            <div class="div-4"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="company-deliver">
                      <div class="profile-menus-wrapper-2">
                        <div class="profile-menus-2">
                          <div class="frame-5">
                            <div class="frame-3">
                              <div class="frame-6">
                                <p class="p">
                                  <span class="span"> 18كم | </span> <span class="text-wrapper-8">مفتوح</span>
                                </p>
                                <div class="text-wrapper-9">فرع اليرموك</div>
                              </div>
                              <div class="text-wrapper-10">فرع اليرموك، شارع اليرموك</div>
                            </div>
                            <div class="div-4"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="company-deliver">
                      <div class="profile-menus-wrapper-2">
                        <div class="profile-menus-2">
                          <div class="frame-5">
                            <div class="frame-3">
                              <div class="frame-6">
                                <p class="p">
                                  <span class="span"> 22كم | </span> <span class="text-wrapper-11">مغلق</span>
                                </p>
                                <div class="text-wrapper-9">فرع قرطبة</div>
                              </div>
                              <div class="text-wrapper-10">فرع قرطبة، شارع قرطبة</div>
                            </div>
                            <div class="div-4"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="company-deliver">
                      <div class="profile-menus-wrapper-2">
                        <div class="profile-menus-2">
                          <div class="frame-5">
                            <div class="frame-3">
                              <div class="frame-6">
                                <p class="p">
                                  <span class="span"> 22كم | </span> <span class="text-wrapper-11">مغلق</span>
                                </p>
                                <div class="text-wrapper-9">فرع قرطبة</div>
                              </div>
                              <div class="text-wrapper-10">فرع قرطبة، شارع قرطبة</div>
                            </div>
                            <div class="div-4"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-wrapper">
                <div class="profile-menus-wrapper">
                  <div class="profile-menus">
                    <div class="frame-2">
                      <div class="frame-3">
                        <div class="text-wrapper-7">توصيل</div>
                        <div class="frame-6">
                          <div class="div-3">
                            <div class="frame-7">
                              <div class="frame-8">
                                <div class="text-wrapper-12">إزالة</div>
                                <div class="addto-wishlist">
                                  <div class="group">
                                    <div class="remove-product-icon-wrapper">
                                      <img class="remove-product-icon" src="images/checkout/remove-product-icon-1.svg" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="div-2">
                              <div class="text-wrapper-13">تعديل</div>
                              <img class="edit" src="images/checkout/edit-02-1.svg" />
                            </div>
                          </div>
                          <p class="text-wrapper-14">الرياض - حي المونسية - شارع الصحابة - شركة بيرداي</p>
                        </div>
                      </div>
                      <div class="div-4"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="div-5 select-location-container" (click)="selectLocation = !selectLocation">
                <div class="frame-wrapper">
                  <div class="frame-18">
                    <div class="profile-menus">
                        <span class="choose-shipping-arrow" [class.rotate] = "selectLocation == false">
                      <img class="img" src="images/checkout/arrow-down-01-round-4.svg" />
                    </span>
                      <div class="frame-2">
                        <div class="frame-3">
                          <div class="text-wrapper-7">اضف عنوان الشحن</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="select-location" *ngIf="selectLocation">
                <div class="frame-9">
                  <div class="frame-10" [class.active] = "addressContentType == 'addressMap'" (click)="addressContentType = 'addressMap'"><div class="text-wrapper-15">تحديد العنوان من الخريطة</div></div>
                  <div class="frame-11" [class.active] = "addressContentType == 'addAddress'" (click)="addressContentType = 'addAddress'"><div class="text-wrapper-16">اضف عنوان جديد</div></div>
                </div>
                <div class="frame-12" *ngIf="addressContentType == 'addAddress'">
                  <div class="input-forms">
                    <div class="text-wrapper-17">الحي *</div>
                    <div class="frame-13"><div class="placeholder">المونسية</div></div>
                  </div>
                  <div class="input-forms-2">
                    <div class="text-wrapper-17">المدينة *</div>
                    <div class="frame-13">
                      <img class="img" src="images/checkout/arrow-down-01-round-10.svg" />
                      <div class="text-wrapper-18">الرياض</div>
                    </div>
                  </div>
                  <div class="input-forms-3">
                    <div class="text-wrapper-17">رقم الهاتف *</div>
                    <div class="frame-14">
                      <div class="frame-15"><div class="text-wrapper-19">+966</div></div>
                      <div class="text-wrapper-20">053 *** **87</div>
                    </div>
                  </div>
                  <div class="input-forms">
                    <p class="text-wrapper-17">وصف اختياري للبيت او المكان (اختياري)</p>
                    <div class="frame-13"><div class="placeholder">شركة بيرداي جوار ............</div></div>
                  </div>
                  <div class="input-forms">
                    <div class="text-wrapper-17">الرمز البريدي(اختياري)</div>
                    <div class="frame-13"><div class="placeholder-2">13245</div></div>
                  </div>
                  <div class="input-forms">
                    <div class="text-wrapper-17">شارع *</div>
                    <div class="frame-13"><div class="placeholder">شارع الصحابه</div></div>
                  </div>
                </div>
                <div class="frame-12" *ngIf="addressContentType == 'addressMap'">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d927758.0370464313!2d46.163000437018475!3d24.724997748455827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f03890d489399%3A0xba974d1c98e79fd5!2sRiyadh%20Saudi%20Arabia!5e0!3m2!1sen!2seg!4v1730227782800!5m2!1sen!2seg" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="frame-16">
                  <div class="button-types"><button class="button">رجوع</button></div>
                  <div class="button-wrapper"><button class="button-2">تأكيد العنوان</button></div>
                </div>
              </div>
            </div>
            <div class="no-location-found-2">
              <div class="text-wrapper-6">تفاصيل الشحن</div>
              <div class="frame-wrapper">
                <div class="profile-menus-wrapper">
                  <div class="profile-menus">
                    <div class="frame-17">
                      <p class="div-6">
                        <span class="text-wrapper-21">5 ر.س </span>
                        <span class="span">-</span>
                        <span class="text-wrapper-21"> 17 ر.س</span>
                      </p>
                    </div>
                    <div class="frame-2">
                      <div class="frame-3">
                        <div class="text-wrapper-7">توصيل فوري</div>
                        <div class="text-wrapper-22">توصيل سريع خلال دقايق</div>
                      </div>
                      <img class="image-6" src="images/checkout/image-38-3.png" />
                      <div class="div-4"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="div-5">
                <div class="frame-wrapper">
                  <div class="frame-18">
                    <div class="profile-menus">
                        <span class="choose-shipping-arrow" [class.rotate] = "showChooseShipping == false" (click)="showChooseShipping = !showChooseShipping">
                      <img class="img" src="images/checkout/arrow-down-01-round-4.svg" />
                    </span>
                      <div class="frame-2">
                        <div class="frame-3">
                          <div class="text-wrapper-7">اختيار شركة الشحن</div>
                          <p class="text-wrapper-22">أرامكس, مدة الشحن خلال (2-5) أيام عمل</p>
                        </div>
                        <img class="image-6" src="images/checkout/image-38-4.png" />
                        <div class="div-4"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="choose-shipping-content" *ngIf="showChooseShipping">
                    <div class="frame-wrapper">
                        <div class="profile-menus-wrapper">
                          <div class="profile-menus">
                            <div class="frame-17"><div class="div-6">10 ر.س</div></div>
                            <div class="frame-2">
                              <div class="frame-3">
                                <div class="text-wrapper-7">ريدبوكس</div>
                                <p class="text-wrapper-22">
                                  استلم طلبك من خزائن ريد بوكس الذكية RedBox، بالوقت المناسب لك، الإيداع سيكون من 1-3 أيام
                                </p>
                              </div>
                              <img class="image-7" src="images/checkout/image-38-5.png" />
                              <div class="div-4"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="frame-wrapper">
                        <div class="profile-menus-wrapper">
                          <div class="profile-menus">
                            <div class="frame-17"><div class="div-6">20 ر.س</div></div>
                            <div class="frame-2">
                              <div class="frame-3">
                                <div class="text-wrapper-7">سمسا</div>
                                <p class="text-wrapper-22">مدة الشحن خلال (2-5) أيام عمل</p>
                              </div>
                              <img class="image-8" src="images/checkout/image-39.png" />
                              <div class="div-4"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="frame-wrapper">
                        <div class="profile-menus-wrapper">
                          <div class="profile-menus">
                            <div class="frame-17"><div class="div-6">23 ر.س</div></div>
                            <div class="frame-2">
                              <div class="frame-3">
                                <div class="text-wrapper-7">أرامكس</div>
                                <p class="text-wrapper-22">مدة الشحن خلال (2-5) أيام عمل</p>
                              </div>
                              <img class="image-8" src="images/checkout/image-40.png" />
                              <div class="div-4"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
            <div class="payment-method-wrapper">
              <div class="payment-method">
                <div class="text-wrapper-6">ملاحظات اضافية</div>
                <div class="input-wrapper">
                  <div class="input">
                    <p class="text">
                      <span class="span">ملاحظات اضافية <br /><br /></span>
                      <span class="text-wrapper-23">فضلا الرجاء التوصيل باسرع وقت ممكن من لحظة الاستلام</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="no-location-found-3">
              <div class="payment-method-2">
                <div class="text-wrapper-6">ملخص الشراء</div>
                <div class="total">
                  <div class="price-total">
                    <div class="price"><div class="text-wrapper-24">10,635.55 ر.س</div></div>
                    <div class="text-wrapper-25">المجموع الفرعي</div>
                  </div>
                </div>
                <div class="total">
                  <div class="price-total">
                    <div class="price"><div class="text-wrapper-24">-500 ر.س</div></div>
                    <div class="text-wrapper-25">خصم من نقاطي</div>
                  </div>
                </div>
                <div class="total">
                  <div class="price-total">
                    <div class="price"><div class="text-wrapper-24">-700 ر.س</div></div>
                    <div class="text-wrapper-25">خصم من المحفظة</div>
                  </div>
                </div>
                <div class="price-total">
                  <div class="price"><div class="text-wrapper-24">0 ر.س</div></div>
                  <div class="text-wrapper-25">الخصم</div>
                </div>
                <div class="price-total-wrapper">
                  <div class="price-total-2">
                    <div class="price">
                      <div class="text-wrapper-26">9,435.55 ر.س</div>
                      <div class="text-wrapper-27">السعر شامل الضريبة</div>
                    </div>
                    <div class="text-wrapper-28">الاجمالي</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="no-location-found-4">
              <div class="payment-method-3">
                <div class="text-wrapper-6">الدفع&nbsp;&nbsp;باستخدام</div>
                <div class="profile-menus-wrapper">
                  <div class="profile-menus-3">
                    <div class="frame-5">
                      <div class="frame-19"><div class="text-wrapper-7">الدفع عند الاستلام</div></div>
                      <img class="img-4" src="images/checkout/cash-on-delivery-2-1.png" />
                      <div class="div-4"></div>
                    </div>
                  </div>
                </div>
                <div class="payment-2">
                  <div class="component-2">
                    <div class="profile-menus-4">
                      <span class="bankcard-payments-icon" [class.rotate] = "showPaymentCards == false" (click)="showPaymentCards = !showPaymentCards"><img class="img" src="images/checkout/arrow-down-01-round-4.svg" /></span>
                      <div class="frame-5">
                        <div class="frame-19"><p class="text-wrapper-7">الدفع عن طريق البطاقة البنكية</p></div>
                        <img class="img-4" src="images/checkout/wallet-1-1-1.png" />
                        <div class="vector-wrapper"><img class="vector-2" src="images/checkout/vector-3-4.svg" /></div>
                      </div>
                    </div>
                  </div>
                  <div class="payment-with-card" *ngIf="showPaymentCards">
                    <div class="payment-method-4">
                      <div class="card">
                        <div class="profile-menus-3">
                          <div class="frame-5">
                            <div class="image-wrapper"><img class="image-3" src="images/checkout/image-5.png" /></div>
                            <div class="div-4"></div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="profile-menus-3">
                          <div class="frame-5">
                            <img class="tabby-installment" src="images/checkout/tabby-installment-mini-1-1.png" />
                            <div class="div-4"></div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="profile-menus-3">
                          <div class="frame-5">
                            <img class="download" src="images/checkout/download-1-1.svg" />
                            <div class="div-4"></div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="profile-menus-3">
                          <div class="frame-5">
                            <img class="image-9" src="images/checkout/image-41-1.png" />
                            <div class="div-4"></div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="profile-menus-3">
                          <div class="frame-5">
                            <div class="visa"><img class="image-4" src="images/checkout/image-6.png" /></div>
                            <div class="div-4"></div>
                          </div>
                        </div>
                      </div>
                      <div class="card-2">
                        <div class="profile-menus-3">
                          <div class="frame-5">
                            <div class="image-wrapper"><img class="image" src="images/checkout/image-4.png" /></div>
                            <div class="vector-wrapper"><img class="vector-2" src="images/checkout/vector-3-4.svg" /></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="profile-menus-5">
                      <div class="frame-20">
                        <div class="frame-7">
                          <div class="frame-8">
                            <div class="text-wrapper-12">إزالة</div>
                            <div class="addto-wishlist">
                              <div class="group">
                                <div class="remove-product-icon-wrapper">
                                  <img class="remove-product-icon" src="images/checkout/remove-product-icon-2.svg" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="frame-3"><div class="text-wrapper-29">**** **** **** 5539</div></div>
                        <div class="image-wrapper"><img class="image" src="images/checkout/image-2.png" /></div>
                        <div class="div-4"></div>
                      </div>
                    </div>
                    <div class="card-form">
                      <div class="frame-21">
                        <div class="div-5">
                          <div class="text-wrapper-17">رقم البطاقة</div>
                          <div class="frame-22">
                            <div class="payment-3">
                              <div class="image-wrapper"><img class="image" src="images/checkout/image-2.png" /></div>
                              <div class="image-wrapper"><img class="image-3" src="images/checkout/image.png" /></div>
                              <div class="visa"><img class="image-4" src="images/checkout/image-1.png" /></div>
                            </div>
                            <div class="text-wrapper-30">رقم البطاقة</div>
                          </div>
                        </div>
                        <div class="frame-23">
                          <div class="input-forms-2">
                            <div class="label">الاسم على البطاقة</div>
                            <div class="frame-13"><div class="placeholder">الاسم على البطاقة</div></div>
                          </div>
                          <div class="input-forms-2">
                            <div class="label">رمز التحقق</div>
                            <div class="frame-13"><div class="placeholder-2">000</div></div>
                          </div>
                          <div class="input-forms-2">
                            <div class="label">تاريخ النتهاء</div>
                            <div class="frame-13"><div class="placeholder-2">00/00</div></div>
                          </div>
                        </div>
                      </div>
                      <div class="div">
                        <div class="text-wrapper-31">حفظ البطاقة</div>
                        <img class="img" src="images/checkout/checkbox-radiobox-1.svg" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="button-types-2"><button class="button-2">تأكيد الدفع&nbsp;&nbsp;9,435.55 ر.س</button></div>
            </div>
            <div class="shipping"></div>
          </div>
    </div>
  </div>