.scroll-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 35px;
    height: 35px;
    background-color: #3B3940;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;

    &:lang(en){
        left: unset;
        right: 20px;
    }
  
    &:hover {
      background-color: #5A5A5A;
    }
  }
  