<div class="product-details">
  <div class="main-img">
    <img src="assets/images/main-details-img.jpg" alt="">
  </div>

  <!-- Products Details -->
  <div class="product-detils-content">
    <div class="container">
      <div class="details d-flex align-items-center">
        <div class="product-info">
          <div class="img">
            <img src="assets/images/product-slider-img.svg" alt="">
          </div>
          <div class="rate-content d-flex align-items-center justify-content-center">
            <div class="rate">
              <i class="fas fa-star"></i>
              4.9
              <span class="review-number">(299)</span>
            </div>
            <div class="add-to-favourite">
              <img src="assets/images/favourite.svg" alt="">
              أضف الى المفضلة
            </div>
          </div>
          <div class="price text-center">
            38 
            <span class="currency">ر.س</span>
          </div>
          <div class="info">
            <h3 class="title text-center">دجاج زربيان</h3>
            <p class="desc">دجاج طني طازج مطهو مع ارز الزربيان بالنكهة المميزة</p>
            <div class="cal">
              <img src="assets/images/calories.svg" alt="">
              2000 سعره حرارية
            </div>
          </div>
          <div class="add-to-cart d-flex align-items-center flex-wrap justify-content-between">
            <div class="count d-flex align-items-center justify-content-between">
              <i class="fas fa-minus" (click)="decrement()"></i>
              <input type="number" value="{{ counterValue }}" disabled>
              <i class="fas fa-plus" (click)="increment()"></i>
            </div>
            <div class="total-price price">
              38 
              <span class="currency">ر.س</span>
            </div>
            <button class="add-cart-btn btn btn-primary w-100">أضف الى السلة</button>
          </div>
        </div>
        <div class="product-additions d-flex align-items-center justify-content-between flex-wrap">
          <div class="addition">
            <h3 class="addition-type">
              اختر الحجم
            </h3>
            <div class="addition-title n-check">
              <div class="type d-flex align-items-center justify-content-between">
                <label class="label-container">
                  حبة كاملة 
                  <input type="checkbox" checked="checked">
                  <span class="checkmark"></span>
                </label>
                <div class="add-cost">
                  38 ر.س
                </div>
              </div>
            </div>
            <div class="addition-title n-check">
              <div class="type d-flex align-items-center justify-content-between">
                <label class="label-container">
                  نص حبه
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <div class="add-cost">
                  +19 ر.س
                </div>
              </div>
            </div>
          </div>
          <div class="addition">
            <h3 class="addition-type">
              اختار نوع الارز
            </h3>
            <div class="addition-title n-check">
              <div class="type d-flex align-items-center justify-content-between">
                <label class="label-container">
                  رز  زربيان 
                  <input type="checkbox" checked="checked">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="addition-title n-check">
              <div class="type d-flex align-items-center justify-content-between">
                <label class="label-container">
                  رز شعبي 
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <div class="add-cost">
                  +6 ر.س
                </div>
              </div>
            </div>
            <div class="addition-title n-check">
              <div class="type d-flex align-items-center justify-content-between">
                <label class="label-container">
                  رز احمر
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <div class="add-cost">
                  +4 ر.س
                </div>
              </div>
            </div>
            <div class="addition-title n-check">
              <div class="type d-flex align-items-center justify-content-between">
                <label class="label-container">
                  رز بشاور
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <div class="add-cost">
                  +8 ر.س
                </div>
              </div>
            </div>
            <div class="addition-title n-check">
              <div class="type d-flex align-items-center justify-content-between">
                <label class="label-container">
                  رز مثلوثة
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <div class="add-cost">
                  +10 ر.س
                </div>
              </div>
            </div>
          </div>
          <div class="addition">
            <h3 class="addition-type">
              اختار نوع الارز
            </h3>
            <div class="addition-title n-check">
              <div class="type d-flex align-items-center justify-content-between">
                <label class="label-container">
                  رز  زربيان 
                  <input type="checkbox" checked="checked">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="addition-title n-check">
              <div class="type d-flex align-items-center justify-content-between">
                <label class="label-container">
                  رز شعبي 
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <div class="add-cost">
                  +6 ر.س
                </div>
              </div>
            </div>
            <div class="addition-title n-check">
              <div class="type d-flex align-items-center justify-content-between">
                <label class="label-container">
                  رز احمر
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <div class="add-cost">
                  +4 ر.س
                </div>
              </div>
            </div>
            <div class="addition-title n-check">
              <div class="type d-flex align-items-center justify-content-between">
                <label class="label-container">
                  رز بشاور
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <div class="add-cost">
                  +8 ر.س
                </div>
              </div>
            </div>
            <div class="addition-title n-check">
              <div class="type d-flex align-items-center justify-content-between">
                <label class="label-container">
                  رز مثلوثة
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <div class="add-cost">
                  +10 ر.س
                </div>
              </div>
            </div>
          </div>
          <div class="addition">
            <h3 class="addition-type">
              اختار نوع الارز
            </h3>
            <div class="addition-title n-check">
              <div class="type d-flex align-items-center justify-content-between">
                <label class="label-container">
                  رز  زربيان 
                  <input type="checkbox" checked="checked">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="addition-title n-check">
              <div class="type d-flex align-items-center justify-content-between">
                <label class="label-container">
                  رز شعبي 
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <div class="add-cost">
                  +6 ر.س
                </div>
              </div>
            </div>
            <div class="addition-title n-check">
              <div class="type d-flex align-items-center justify-content-between">
                <label class="label-container">
                  رز احمر
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <div class="add-cost">
                  +4 ر.س
                </div>
              </div>
            </div>
            <div class="addition-title n-check">
              <div class="type d-flex align-items-center justify-content-between">
                <label class="label-container">
                  رز بشاور
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <div class="add-cost">
                  +8 ر.س
                </div>
              </div>
            </div>
            <div class="addition-title n-check">
              <div class="type d-flex align-items-center justify-content-between">
                <label class="label-container">
                  رز مثلوثة
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <div class="add-cost">
                  +10 ر.س
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Favourite Items -->
  <div class="favourite-items our-products">
    <div class="container">
      <h3 class="title">يفضل عملائنا ايضا </h3>
      <div class="our-products-content">
        
        <div class="products-slider">
          <owl-carousel-o [options]="productSlider" class="products-carousel">
              <ng-template carouselSlide>
                  <div class="product-item">
                      <div class="img">
                          <img src="assets/images/product-slider-img.svg" alt="">
                      </div>
                      <div class="product-name">
                          دجاج زربيان
                          <div class="product-cost">
                              38 ر.س
                          </div>
                      </div>
                      <div class="product-desc">
                          دجاج طني طازج مطهو مع الارز
                      </div>
                      <ul class="food-info">
                          <li>
                              <img src="assets/images/special.svg" alt="">
                              قابل للتخصيص
                          </li>
                          <li>
                              <img src="assets/images/calories.svg" alt="">
                              2000 سعره حرارية
                          </li>
                      </ul>
                      <div class="add-to-cart" routerLink="/product/details/1">
                          <i class="fas fa-plus"></i>
                      </div>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="product-item">
                      <div class="img">
                          <img src="assets/images/product-slider-img.svg" alt="">
                      </div>
                      <div class="product-name">
                          دجاج زربيان
                          <div class="product-cost">
                              38
                              <span class="curruncy">ر.س</span>
                          </div>
                      </div>
                      <div class="product-desc">
                          دجاج طني طازج مطهو مع الارز
                      </div>
                      <ul class="food-info">
                          <li>
                              <img src="assets/images/special.svg" alt="">
                              قابل للتخصيص
                          </li>
                          <li>
                              <img src="assets/images/calories.svg" alt="">
                              2000 سعره حرارية
                          </li>
                      </ul>
                      <div class="add-to-cart" routerLink="/product/details/1">
                          <i class="fas fa-plus"></i>
                      </div>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="product-item">
                      <div class="img">
                          <img src="assets/images/product-slider-img.svg" alt="">
                      </div>
                      <div class="product-name">
                          دجاج زربيان
                          <div class="product-cost">
                              38 ر.س
                          </div>
                      </div>
                      <div class="product-desc">
                          دجاج طني طازج مطهو مع الارز
                      </div>
                      <ul class="food-info">
                          <li>
                              <img src="assets/images/special.svg" alt="">
                              قابل للتخصيص
                          </li>
                          <li>
                              <img src="assets/images/calories.svg" alt="">
                              2000 سعره حرارية
                          </li>
                      </ul>
                      <div class="add-to-cart" routerLink="/product/details/1">
                          <i class="fas fa-plus"></i>
                      </div>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="product-item">
                      <div class="img">
                          <img src="assets/images/product-slider-img.svg" alt="">
                      </div>
                      <div class="product-name">
                          دجاج زربيان
                          <div class="product-cost">
                              38
                              <span class="curruncy">ر.س</span>
                          </div>
                      </div>
                      <div class="product-desc">
                          دجاج طني طازج مطهو مع الارز
                      </div>
                      <ul class="food-info">
                          <li>
                              <img src="assets/images/special.svg" alt="">
                              قابل للتخصيص
                          </li>
                          <li>
                              <img src="assets/images/calories.svg" alt="">
                              2000 سعره حرارية
                          </li>
                      </ul>
                      <div class="add-to-cart" routerLink="/product/details/1">
                          <i class="fas fa-plus"></i>
                      </div>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                  <div class="product-item">
                      <div class="img">
                          <img src="assets/images/product-slider-img.svg" alt="">
                      </div>
                      <div class="product-name">
                          دجاج زربيان
                          <div class="product-cost">
                              38 ر.س
                          </div>
                      </div>
                      <div class="product-desc">
                          دجاج طني طازج مطهو مع الارز
                      </div>
                      <ul class="food-info">
                          <li>
                              <img src="assets/images/special.svg" alt="">
                              قابل للتخصيص
                          </li>
                          <li>
                              <img src="assets/images/calories.svg" alt="">
                              2000 سعره حرارية
                          </li>
                      </ul>
                      <div class="add-to-cart" routerLink="/product/details/1">
                          <i class="fas fa-plus"></i>
                      </div>
                  </div>
              </ng-template>
          </owl-carousel-o>
      </div>
      </div>
    </div>
  </div>
</div>