@import '../../../../assets/variables';
@import '../../../home/pages/home/home.component.scss';

.product-details {
    position: relative;
    min-height: 150px;
    .main-img {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        margin: auto;
        height: 150px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.1;
        }
    }
    .product-detils-content {
        position: relative;
        z-index: 1;
        padding: 24px 0;
        margin-bottom: 50px;
        .details {
            .product-info {
                padding: 20px 24px;
                border-radius: 16px;
                border: 1px solid $border;
                background-color: $white;
                margin-inline-end: 30px;
                .img {
                    width: 245px;
                    height: 245px;
                    border-radius: 50%;
                    margin: 0 auto 24px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .rate-content {
                    margin-bottom: 8px;
                    .rate {
                        font-size: 16px;
                        font-weight: 500;
                        color: $headTitle;
                        display: flex;
                        align-items: center;
                        .review-number {
                            font-size: 12px;
                            color: $subTitle;
                            margin-inline-start: 2px;
                        }
                        i {
                            font-size: 16px;
                            color: $star;
                            margin-inline-end: 2px;
                        }
                        &::after {
                            content: '';
                            position: relative;
                            display: inline-block;
                            width: 2px;
                            height: 30px;
                            background-color: #D0D5DD;
                            border-radius: 20px;
                            margin: 0 30px;
                        }
                    }
                    .add-to-favourite {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        img {
                            margin-inline-end: 12px;
                        }
                    }
                }
                .price {
                    font-size: 32px;
                    font-weight: 500;
                    color: $primaryColor;
                    margin-bottom: 8px;
                    .currency {
                        font-size: 28px;
                    }
                }
                .info {
                    .title {
                        font-size: 24px;
                        font-weight: 700;
                        color: $headTitle;
                        margin-bottom: 12px;
                    }
                    .desc {
                        font-size: 16px;
                        font-weight: 500;
                        color: $subTitle;
                    }
                    .cal {
                        font-size: 16px;
                        font-weight: 500;
                        color: $subTitle;
                        margin-bottom: 12px;
                        display: flex;
                        align-items: center;
                        img {
                            margin-inline-end: 8px;
                        }
                    }
                }
                .add-to-cart {
                    padding: 20px 24px;
                    background-color: $offWhiteBg;
                    border-radius: 16px;
                    .count {
                        width: 150px;
                        height: 35px;
                        background-color: $white;
                        border-radius: 20px;
                        color: $headTitle;
                        padding: 5px 16px;
                        i {
                            width: 28px;
                            height: 28px;
                            border-radius: 16px;
                            cursor: pointer;
                            font-size: 10px;
                            line-height: 28px;
                            flex-shrink: 0;
                            text-align: center;
                        }
                        input {
                            border: 0;
                            background-color: transparent;
                            padding: 0;
                            width: 50px;
                            text-align: center;
                            font-size: 22px;
                            font-weight: 600;
                            color: $black;
                        }
                    }
                    .total-price {
                        margin-bottom: 0;
                    }
                    .add-cart-btn {
                        margin-top: 12px;
                        font-size: 18px;
                        font-weight: 500;
                        height: 40px;
                    }
                }
            }
            .product-additions {
                padding: 16px 24px;
                border-radius: 8px;
                background-color: $offWhiteBg;
                flex-grow: 1;
                .addition {
                    background-color: $white;
                    border-radius: 8px;
                    padding: 16px 24px;
                    width: calc(100% / 2 - 24px);
                    height: 295px;
                    overflow: hidden auto;
                    margin-bottom: 24px;
                    &:not(:nth-child(2n)) {
                        margin-inline-end: 24px;
                    }
                    .addition-type {
                        font-size: 14px;
                        font-weight: 700;
                        color: $black;
                        margin-bottom: 20px;
                    }
                    .addition-title {
                        .type {
                            margin-bottom: 8px;
                            .label-container {
                                font-size: 14px;
                                font-weight: 700;
                                color: $subTitle;
                            }
                            .add-cost {
                                font-size: 14px;
                                font-weight: 700;
                                color: $black;
                            }
                        }
                    }
                }
            }
        }
    }
    .favourite-items {
        .title {
            font-size: 20px;
            font-weight: 700;
            color: $headTitle;
            margin-bottom: 15px;
        }
        .our-products-content {
            .products-slider {
                overflow: unset;
                padding: 0;
                background-color: transparent;
            }
        }
    }
}

// Media Query
@media (max-width: 1200px) {
    .product-details {
        .product-detils-content {
            .details {
                .product-info {
                    margin-inline-end: 15px;
                    .img {
                        width: 230px;
                        height: 230px;
                    }
                    .rate-content {
                        .rate {
                            &::after {
                                margin: 0 15px;
                            }
                        }
                        .add-to-favourite {
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                    .add-to-cart {
                        .count {
                            width: 130px;
                        }
                        .total-price {
                            font-size: 25px;
                            .currency {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .product-details {
        .main-img {
            height: 250px;
            img {
                opacity: 0.2;
            }
        }
        .product-detils-content {
            padding-top: 110px;
            .details {
                flex-wrap: wrap;
                justify-content: center;
                .product-info {
                    margin-inline-end: 0;
                    width: 100%;
                    margin-bottom: 25px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .product-details {
        .product-detils-content {
            .details {
                .product-info {
                    background-color: transparent;
                    border: 0;
                    .img {
                        margin-bottom: 0;
                    }
                    .price {
                        display: none;
                    }
                    .info {
                        .title {
                            font-size: 18px;
                        }
                        .desc {
                            font-size: 14px;
                        }
                        .cal {
                            font-size: 12px;
                        }
                    }
                    .add-to-cart {
                        position: fixed;
                        bottom: 85px;
                        width: 95%;
                        margin: auto;
                        left: 0;
                        right: 0;
                        background-color: #FFF;
                        z-index: 9;
                        border: 1px solid #D8D8D8;
                        border-radius: 22px;
                        .price {
                            display: block;
                        }
                        .count {
                            i {
                                background-color: $offWhiteBg;
                                border-radius: 10px;
                            }
                        }
                    }
                }
                .product-additions {
                    .addition {
                        width: 100%;
                        height: auto;
                        margin-inline-end: 0 !important;
                    }
                }
            }
        }
        .favourite-items {
            position: relative;
            z-index: 0;
            .product-name {
                a {
                    font-size: 14px;
                }
                .product-cost {
                    font-size: 16px !important;
                }
            }
            .product-desc {
                font-size: 12px !important;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .add-to-cart {
                width: 30px !important;
                height: 30px !important;
                bottom: 5px !important;
                left: 3px !important;
                font-size: 16px !important;
            }
        }
    }
}