html:lang(en) {
    direction: rtl;
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    background-color: var(--design-tokens-off-white);
    border-radius: var(--primitives-border-radius-border-radius-2);
    direction: ltr;
    padding-top: 2rem;
}

.cart .breadcrumb {
    align-items: center;
    gap: 32px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.cart .trans-link-wrapper {
    height: 32px;
    align-items: flex-end;
    justify-content: center;
    gap: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.cart .trans-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.cart .product-name {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    
    font-weight: 500;
    color: var(--design-tokens-color-test);
    font-size: 16px;
    text-align: left;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    direction: rtl;
}

.cart .div {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.cart .img {
    position: relative;
    width: 18px;
    height: 18px;
}

.cart .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    
    font-weight: 500;
    color: var(--design-tokens-meta);
    font-size: 16px;
    text-align: left;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    direction: rtl;
}

.cart .product {
    display: flex;
    flex-direction: column;
    // width: 1208px;
    align-items: flex-start;
    gap: 24px;
    // padding: 16px 24px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 16px;
}

.cart .main-product-area {
    display: flex;
    // width: 1160px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
}

.cart .details {
    display: flex;
    flex-direction: column;
    // width: 699px;
    align-items: flex-start;
    gap: 16px;
    padding: 0px 16px;
    position: relative;
}

.cart .describe-feature {
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.cart .brand-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 121px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.cart .brand-name {
    position: relative;
    flex: 1;
    margin-top: -1.00px;
    
    font-weight: 700;
    color: var(--design-tokens-meta);
    font-size: 16px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
}

.cart .title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.cart .product-title {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--headline-bold-h6-font-family);
    font-weight: var(--headline-bold-h6-font-weight);
    color: var(--design-tokens-black);
    font-size: var(--headline-bold-h6-font-size);
    letter-spacing: var(--headline-bold-h6-letter-spacing);
    line-height: var(--headline-bold-h6-line-height);
    direction: rtl;
    font-style: var(--headline-bold-h6-font-style);
}

.cart .product-subtitle {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--button-aa-medium-m-font-family);
    font-weight: var(--button-aa-medium-m-font-weight);
    color: var(--design-tokens-meta-duplicate);
    font-size: var(--button-aa-medium-m-font-size);
    letter-spacing: var(--button-aa-medium-m-letter-spacing);
    line-height: var(--button-aa-medium-m-line-height);
    direction: rtl;
    font-style: var(--button-aa-medium-m-font-style);
}

.cart .div-2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.cart .addto-wishlist {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
}

.cart .add-to-wishlist-text {
    position: relative;
    width: fit-content;
    font-family: var(--subtitle-sub-m-font-family);
    font-weight: var(--subtitle-sub-m-font-weight);
    color: var(--gray-700);
    font-size: var(--subtitle-sub-m-font-size);
    text-align: left;
    letter-spacing: var(--subtitle-sub-m-letter-spacing);
    line-height: var(--subtitle-sub-m-line-height);
    white-space: nowrap;
    direction: rtl;
    font-style: var(--subtitle-sub-m-font-style);
}

.cart .component {
    position: relative;
    width: 32px;
    height: 32px;
}

.cart .separator {
    position: relative;
    width: 2px;
    height: 31px;
    background-color: var(--gray-300);
    border-radius: 22px;
}

.cart .stars {
    align-items: center;
    gap: 4px;
    display: inline-flex;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
}

.cart .reviews-text {
    position: relative;
    width: fit-content;
    font-family: var(--subtitle-sub-m-font-family);
    font-weight: var(--subtitle-sub-m-font-weight);
    color: var(--gray-600);
    font-size: var(--subtitle-sub-m-font-size);
    text-align: center;
    letter-spacing: var(--subtitle-sub-m-letter-spacing);
    line-height: var(--subtitle-sub-m-line-height);
    white-space: nowrap;
    direction: rtl;
    font-style: var(--subtitle-sub-m-font-style);
}

.cart .separator-2 {
    position: relative;
    width: fit-content;
    font-family: var(--tajawal-18px-meduim-font-family);
    font-weight: var(--tajawal-18px-meduim-font-weight);
    color: var(--design-tokens-meta);
    font-size: var(--tajawal-18px-meduim-font-size);
    text-align: center;
    letter-spacing: var(--tajawal-18px-meduim-letter-spacing);
    line-height: var(--tajawal-18px-meduim-line-height);
    font-style: var(--tajawal-18px-meduim-font-style);
}

.cart .star {
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
}

.cart .element {
    position: relative;
    width: 35px;
    font-family: var(--tajawal-18px-meduim-font-family);
    font-weight: var(--tajawal-18px-meduim-font-weight);
    color: var(--gray-700);
    font-size: var(--tajawal-18px-meduim-font-size);
    text-align: center;
    letter-spacing: var(--tajawal-18px-meduim-letter-spacing);
    line-height: var(--tajawal-18px-meduim-line-height);
    font-style: var(--tajawal-18px-meduim-font-style);
}

.cart .huge-icon-interface {
    position: relative;
    width: 24px;
    height: 24px;
}

.cart .share {
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.cart .social {
    position: relative;
    align-self: stretch;
    width: 186px;
}

.cart .share-options {
    display: inline-flex;
    height: 48px;
    align-items: center;
    gap: 14px;
    position: relative;
}

.cart .img-wrapper {
    position: relative;
    width: 36px;
    height: 36px;
    background-color: #f7f9fc;
    border-radius: 8px;
}

.cart .img-2 {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 9px;
    left: 9px;
}

.cart .share-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 9px;
    left: 8px;
}

.cart .share-text {
    position: relative;
    width: 120px;
    font-family: var(--tajawal-18px-meduim-font-family);
    font-weight: var(--tajawal-18px-meduim-font-weight);
    color: var(--gray-700);
    font-size: var(--tajawal-18px-meduim-font-size);
    text-align: left;
    letter-spacing: var(--tajawal-18px-meduim-letter-spacing);
    line-height: var(--tajawal-18px-meduim-line-height);
    direction: rtl;
    font-style: var(--tajawal-18px-meduim-font-style);
}

.cart .div-wrapper {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 36px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 24px;
    position: relative;
    background-color: #f7f9fc;
    border-radius: var(--primitives-border-radius-border-radius-2-duplicate);
}

.cart .text-wrapper-2 {
    position: relative;
    width: 59.5px;
    margin-top: -10.00px;
    margin-bottom: -8.00px;
    margin-left: -3.75px;
    margin-right: -3.75px;
    font-family: var(--tajawal-18px-meduim-font-family);
    font-weight: var(--tajawal-18px-meduim-font-weight);
    color: var(--design-tokens-black-duplicate);
    font-size: var(--tajawal-18px-meduim-font-size);
    text-align: center;
    letter-spacing: var(--tajawal-18px-meduim-letter-spacing);
    line-height: var(--tajawal-18px-meduim-line-height);
    direction: rtl;
    font-style: var(--tajawal-18px-meduim-font-style);
}

.cart .size-small-text {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 36px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 24px;
    position: relative;
    background-color: #f7f9fc;
    border-radius: var(--primitives-border-radius-border-radius-2-duplicate);
    border: 1.5px solid;
    border-color: var(--design-tokens-color-test);
}

.cart .size-medium-text {
    position: relative;
    width: 59.5px;
    margin-top: -10.50px;
    margin-bottom: -7.50px;
    margin-left: -3.75px;
    margin-right: -3.75px;
    font-family: var(--tajawal-18px-meduim-font-family);
    font-weight: var(--tajawal-18px-meduim-font-weight);
    color: var(--design-tokens-color-test);
    font-size: var(--tajawal-18px-meduim-font-size);
    text-align: center;
    letter-spacing: var(--tajawal-18px-meduim-letter-spacing);
    line-height: var(--tajawal-18px-meduim-line-height);
    direction: rtl;
    font-style: var(--tajawal-18px-meduim-font-style);
}

.cart .size-text {
    position: relative;
    width: 120px;
    font-family: var(--tajawal-18px-meduim-font-family);
    font-weight: var(--tajawal-18px-meduim-font-weight);
    color: var(--gray-700);
    font-size: var(--tajawal-18px-meduim-font-size);
    letter-spacing: var(--tajawal-18px-meduim-letter-spacing);
    line-height: var(--tajawal-18px-meduim-line-height);
    direction: rtl;
    font-style: var(--tajawal-18px-meduim-font-style);
}

.cart .product-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 16px 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--design-tokens-off-white-duplicate);
    border-radius: var(--primitives-border-radius-border-radius-3);
}

.cart .div-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.cart .price {
    width: 382px;
    align-items: flex-start;
    gap: 32px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.cart .price-2 {
    align-items: flex-end;
    justify-content: center;
    gap: 1px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.cart .p {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    
    font-weight: 500;
    color: var(--design-tokens-color-test);
    font-size: 32px;
    text-align: left;
    letter-spacing: 0;
    line-height: normal;
    direction: rtl;
}

.cart .span {
    
    font-weight: 500;
    color: #12566a;
    font-size: 32px;
    letter-spacing: 0;
}

.cart .text-wrapper-3 {
    font-size: 22px;
}

.cart .tax-info {
    position: relative;
    align-self: stretch;
    
    font-weight: 500;
    color: var(--design-tokens-meta);
    font-size: 14px;
    text-align: left;
    letter-spacing: 0;
    line-height: normal;
    direction: rtl;
}

.cart .quantity-selector {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    position: relative;
    background-color: #ffffff;
    border-radius: 8px;
}

.cart .quantity-input {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}

.cart .img-wrapper-2 {
    width: 36px;
    height: 36px;
    position: relative;
    background-color: var(--design-tokens-white);
    border-radius: 8px;
}

.cart .subtract-icon {
    position: absolute;
    width: 31px;
    height: 31px;
    top: 3px;
    left: 3px;
}

.cart .quantity-input-2 {
    position: relative;
    width: 13px;
    font-family: "Open Sans", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
}

.cart .btn-action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.cart .btn-addto-cart {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 8px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.cart .add-to-cart {
    display: flex;
    height: 42px;
    align-items: center;
    justify-content: center;
    padding: 8px 0px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: #f7f9fc;
    border-radius: 8px;
    border: 1px solid;
    border-color: var(--design-tokens-color-test);
}

.cart .title-2 {
    position: relative;
    width: 234px;
    height: 37px;
    margin-top: -5.50px;
    margin-bottom: -5.50px;
}

.cart .purchase-now-button {
    position: absolute;
    width: 234px;
    top: 6px;
    left: 0;
    font-family: var(--tajawal-18px-meduim-font-family);
    font-weight: var(--tajawal-18px-meduim-font-weight);
    color: var(--design-tokens-color-test);
    font-size: var(--tajawal-18px-meduim-font-size);
    text-align: center;
    letter-spacing: var(--tajawal-18px-meduim-letter-spacing);
    line-height: var(--tajawal-18px-meduim-line-height);
    direction: rtl;
    font-style: var(--tajawal-18px-meduim-font-style);
}

.cart .title-wrapper {
    display: flex;
    height: 42px;
    align-items: center;
    justify-content: center;
    padding: 8px 0px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: var(--design-tokens-color-test);
    border-radius: 8px;
}

.cart .add-to-cart-button {
    position: absolute;
    width: 234px;
    top: 6px;
    left: 0;
    font-family: var(--tajawal-18px-meduim-font-family);
    font-weight: var(--tajawal-18px-meduim-font-weight);
    color: var(--design-tokens-white);
    font-size: var(--tajawal-18px-meduim-font-size);
    text-align: center;
    letter-spacing: var(--tajawal-18px-meduim-letter-spacing);
    line-height: var(--tajawal-18px-meduim-line-height);
    direction: rtl;
    font-style: var(--tajawal-18px-meduim-font-style);
}

.cart .product-image {
    display: flex;
    flex-direction: column;
    // width: 450px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 16px 0px;
    position: relative;
    align-self: stretch;
    background-color: #f7f9fc;
    border-radius: var(--primitives-border-radius-border-radius-3-duplicate);
}

.cart .primary-image {
    position: relative;
    width: 410px;
    height: 275px;
    border-radius: var(--primitives-border-radius-border-radius-3);
    // background-image: url('./img/primary-image.svg');
    background-size: cover;
    background-position: 50% 50%;
    background-color: var(--design-tokens-white);
}

.cart .image {
    display: inline-flex;
    align-items: center;
    gap: 29px;
    position: relative;
    flex: 0 0 auto;
}

.cart .primary-image-2 {
    position: relative;
    width: 75px;
    height: 75px;
    // background-image: url(./img/primary-image-1.svg);
    border-radius: var(--primitives-border-radius-border-radius-3);
    background-size: cover;
    background-position: 50% 50%;
    background-color: var(--design-tokens-white);
}

.cart .primary-image-3 {
    position: relative;
    width: 75px;
    height: 75px;
    // background-image: url(./img/primary-image-2.svg);
    border-radius: var(--primitives-border-radius-border-radius-3);
    background-size: cover;
    background-position: 50% 50%;
    background-color: var(--design-tokens-white);
}

.cart .primary-image-4 {
    position: relative;
    width: 75px;
    height: 75px;
    // background-image: url(./img/primary-image-3.svg);
    border-radius: var(--primitives-border-radius-border-radius-3);
    background-size: cover;
    background-position: 50% 50%;
    background-color: var(--design-tokens-white);
}

.cart .primary-image-5 {
    position: relative;
    width: 75px;
    height: 75px;
    // background-image: url(./img/primary-image-4.svg);
    border-radius: var(--primitives-border-radius-border-radius-3);
    background-size: cover;
    background-position: 50% 50%;
    background-color: var(--design-tokens-white);
}

.cart .tamara-anbbyd-ta {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    padding: 16px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.cart .div-4 {
    display: flex;
    flex-direction: column;
    height: 126px;
    align-items: flex-end;
    justify-content: center;
    gap: 16px;
    padding: 16px 24px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: var(--design-tokens-white-duplicate);
    border-radius: var(--primitives-border-radius-border-radius-2-duplicate);
    border: 1px solid;
    border-color: var(--design-tokens-border-duplicate);
}

.cart .tabby-installment {
    position: relative;
    width: 65px;
    height: 29.79px;
    margin-top: -0.90px;
    object-fit: cover;
}

.cart .installment-text {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
    margin-bottom: -0.90px;
}

.cart .div-5 {
    position: relative;
    width: 243px;
    margin-top: -1.00px;
    
    font-weight: 400;
    color: var(--tokens-text-secondary);
    font-size: 14px;
    letter-spacing: 0;
    line-height: 14px;
    direction: rtl;
}

.cart .text-wrapper-4 {
    font-weight: var(--button-aa-medium-b-font-weight);
    color: #121212;
    line-height: var(--button-aa-medium-b-line-height);
    font-family: var(--button-aa-medium-b-font-family);
    font-style: var(--button-aa-medium-b-font-style);
    letter-spacing: var(--button-aa-medium-b-letter-spacing);
    font-size: var(--button-aa-medium-b-font-size);
}

.cart .text-wrapper-5 {
    color: #667085;
    text-decoration: underline;
    font-family: var(--tajawal-14px-regular-font-family);
    font-style: var(--tajawal-14px-regular-font-style);
    font-weight: var(--tajawal-14px-regular-font-weight);
    letter-spacing: var(--tajawal-14px-regular-letter-spacing);
    line-height: var(--tajawal-14px-regular-line-height);
    font-size: var(--tajawal-14px-regular-font-size);
}

.cart .download {
    position: relative;
    width: 65px;
    height: 33px;
    margin-top: -2.50px;
}

.cart .installment-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
    margin-bottom: -2.50px;
}

.cart .product-2 {
    display: flex;
    flex-direction: column;
    // width: 1208px;
    align-items: flex-start;
    gap: 24px;
    // padding: 16px 24px;
    position: relative;
    background-color: #ffffff;
    border-radius: 16px;
    margin-top: 1rem;
    padding: 1rem;
}

.cart .describe-review {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
    padding: 8px 0px 0px 112px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
    border-color: var(--primitives-color-gray-gray-100);
}

.cart .div-wrapper-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px 8px 8px;
    position: relative;
    flex: 0 0 auto;
    cursor: pointer;
}

.cart .write-review-text {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    direction: rtl;
}

.cart .reviews-count-text {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    direction: rtl;
}

.cart .product-description {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px 8px 8px;
    position: relative;
    flex: 0 0 auto;
    border-bottom-width: 2px;
    border-color: var(--design-tokens-color-test);
}

.cart .product-description-2 {
    position: relative;
    width: fit-content;
    margin-top: -2.00px;
    
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    direction: rtl;
}

.cart .main-product {
    position: relative;
    align-self: stretch;
    font-family: var(--subtitle-sub-r-font-family);
    font-weight: var(--subtitle-sub-r-font-weight);
    color: var(--design-tokens-meta-duplicate);
    font-size: var(--subtitle-sub-r-font-size);
    letter-spacing: var(--subtitle-sub-r-letter-spacing);
    line-height: var(--subtitle-sub-r-line-height);
    direction: rtl;
    font-style: var(--subtitle-sub-r-font-style);
}

.cart .text-wrapper-6 {
    color: #667085;
    font-family: var(--subtitle-sub-r-font-family);
    font-style: var(--subtitle-sub-r-font-style);
    font-weight: var(--subtitle-sub-r-font-weight);
    letter-spacing: var(--subtitle-sub-r-letter-spacing);
    line-height: var(--subtitle-sub-r-line-height);
    font-size: var(--subtitle-sub-r-font-size);
}

.cart .text-wrapper-7 {
    color: #1089b3;
    font-family: var(--subtitle-sub-r-font-family);
    font-style: var(--subtitle-sub-r-font-style);
    font-weight: var(--subtitle-sub-r-font-weight);
    letter-spacing: var(--subtitle-sub-r-letter-spacing);
    line-height: var(--subtitle-sub-r-line-height);
    font-size: var(--subtitle-sub-r-font-size);
}

.cart .product-related {
    display: flex;
    flex-direction: column;
    // width: 1214px;
    align-items: flex-end;
    gap: 24px;
    padding: 16px 34px;
    position: relative;
    flex: 0 0 auto;
    margin-left: -3.00px;
    margin-right: -3.00px;
    background-color: #ffffff;
}

.cart .indicator {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
}

.cart .related-products {
    position: relative;
    width: 28px;
    height: 28px;
}

.cart .related-products-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    
    font-weight: 700;
    color: var(--design-tokens-black-duplicate);
    font-size: 16px;
    text-align: left;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
    direction: rtl;
}

.cart .product-card {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 330px;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 16px;
    position: relative;
    margin-left: -68.00px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--design-tokens-border);
}

.cart .new-label {
    display: flex;
    width: 230px;
    height: 24px;
    align-items: center;
    justify-content: space-around;
    gap: 88px;
    padding: 0px 8px;
    position: absolute;
    top: 16px;
    left: 0;
}

.cart .notifaction {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: var(--design-tokens-off-white-duplicate);
    border-radius: 12px;
}

.cart .wishlist-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 7261px;
    left: 6252px;
}

.cart .savage-cologne-macy {
    position: relative;
    width: 214px;
    height: 200px;
    margin-right: -16.00px;
    border-radius: 8px;
}

.cart .star-ratings {
    display: flex;
    height: 20px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.cart .star-wrapper {
    align-items: flex-end;
    gap: 8px;
    display: inline-flex;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
}

.cart .huge-icon-interface-2 {
    position: relative;
    width: 1px;
    height: 18px;
}

.cart .element-2 {
    position: relative;
    width: 69px;
    height: 16.67px;
    font-family: var(--other-caption-font-family);
    font-weight: var(--other-caption-font-weight);
    color: var(--design-tokens-black);
    font-size: var(--other-caption-font-size);
    letter-spacing: var(--other-caption-letter-spacing);
    line-height: var(--other-caption-line-height);
    white-space: nowrap;
    font-style: var(--other-caption-font-style);
}

.cart .product-card-brand {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    
    font-weight: 700;
    color: var(--design-tokens-meta);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.cart .describe {
    width: 198px;
    height: 86px;
    align-items: flex-end;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    position: relative;
}

.cart .product-card-title {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--subtitle-sub-b-font-family);
    font-weight: var(--subtitle-sub-b-font-weight);
    color: var(--design-tokens-black-duplicate);
    font-size: var(--subtitle-sub-b-font-size);
    letter-spacing: var(--subtitle-sub-b-letter-spacing);
    line-height: var(--subtitle-sub-b-line-height);
    direction: rtl;
    font-style: var(--subtitle-sub-b-font-style);
}

.cart .cart-with-price {
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.cart .product-card-price {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.cart .product-card-price-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--button-aa-large-b-font-family);
    font-weight: var(--button-aa-large-b-font-weight);
    color: var(--design-tokens-color-test);
    font-size: var(--button-aa-large-b-font-size);
    letter-spacing: var(--button-aa-large-b-letter-spacing);
    line-height: var(--button-aa-large-b-line-height);
    white-space: nowrap;
    direction: rtl;
    font-style: var(--button-aa-large-b-font-style);
}

.cart .product-add-to-cart-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 4px;
    left: -16px;
    background-color: var(--design-tokens-color-test);
    border-radius: 0px 8px 0px 8px;
}

.cart .product-add-to-cart {
    position: relative;
    flex: 0 0 auto;
    margin-bottom: -6987.50px;
    margin-right: -6248.19px;
}

.cart .primary-image-6 {
    position: absolute;
    width: 167px;
    height: 167px;
    top: 38px;
    left: 31px;
    // background-image: url(./img/primary-image-5.svg);
    border-radius: var(--primitives-border-radius-border-radius-3);
    background-size: cover;
    background-position: 50% 50%;
    background-color: var(--design-tokens-white);
}

.cart .product-card-2 {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 330px;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 16px;
    position: relative;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--design-tokens-border);
}

.cart .wishlist-icon-2 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
    left: 4px;
}

.cart .product-add-to-cart-2 {
    position: relative;
    flex: 0 0 auto;
}

.cart .primary-image-7 {
    position: absolute;
    width: 167px;
    height: 167px;
    top: 38px;
    left: 31px;
    // background-image: url(./img/primary-image-6.svg);
    border-radius: var(--primitives-border-radius-border-radius-3);
    background-size: cover;
    background-position: 50% 50%;
    background-color: var(--design-tokens-white);
}

.cart .primary-image-8 {
    position: absolute;
    width: 167px;
    height: 167px;
    top: 38px;
    left: 31px;
    // background-image: url(./img/primary-image-7.svg);
    border-radius: var(--primitives-border-radius-border-radius-3);
    background-size: cover;
    background-position: 50% 50%;
    background-color: var(--design-tokens-white);
}

.cart .primary-image-9 {
    position: absolute;
    width: 167px;
    height: 167px;
    top: 38px;
    left: 31px;
    // background-image: url(./img/primary-image-8.svg);
    border-radius: var(--primitives-border-radius-border-radius-3);
    background-size: cover;
    background-position: 50% 50%;
    background-color: var(--design-tokens-white);
}

.cart .primary-image-10 {
    position: absolute;
    width: 167px;
    height: 167px;
    top: 38px;
    left: 31px;
    // background-image: url('./img/primary-image-9.svg');
    border-radius: var(--primitives-border-radius-border-radius-3);
    background-size: cover;
    background-position: 50% 50%;
    background-color: var(--design-tokens-white);
}


// tab2 styles start
.product {
    display: flex;
    flex-direction: column;
    width: 1208px;
    align-items: flex-end;
    gap: 24px;
    padding: 16px 24px;
    position: relative;
    background-color: var(--design-tokens-white);
    border-radius: 16px;
}

.tab2 .product{
    padding: 0;
    background-color: transparent;
}

.tab2 .product-rate{
    padding-right: 3rem;
}

.tab3 .tab3-container{
    padding: 0;
    background-color: transparent;
}

.product .describe-review {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
    padding: 8px 0px 0px 112px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
    border-color: var(--primitives-color-gray-gray-100);
}

.product .div-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px 8px 8px;
    position: relative;
    flex: 0 0 auto;
}

.product .write-review-text {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    
    font-weight: 400;
    color: var(--tokens-text-secondary);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    direction: rtl;
}

.product .product-description {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px 8px 8px;
    position: relative;
    flex: 0 0 auto;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: var(--design-tokens-color-test);
}

.product .product-reviews {
    position: relative;
    width: fit-content;
    margin-top: -2.00px;
    
    font-weight: 700;
    color: var(--design-tokens-color-test);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    direction: rtl;
}

.product .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    
    font-weight: 400;
    color: var(--tokens-text-primary);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    direction: rtl;
}

.product .product-rate {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}

.product .review-section {
    display: flex;
    flex-direction: column;
    width: 509.52px;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    margin-left: -4.76px;
}

.product .review-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.product .review-count {
    position: relative;
    width: 75.52px;
    height: 18.75px;
    font-family: var(--headline-medium-h6-font-family);
    font-weight: var(--headline-medium-h6-font-weight);
    color: var(--design-tokens-meta);
    font-size: var(--headline-medium-h6-font-size);
    text-align: center;
    letter-spacing: var(--headline-medium-h6-letter-spacing);
    line-height: var(--headline-medium-h6-line-height);
    white-space: nowrap;
    font-style: var(--headline-medium-h6-font-style);
}

.product .review-star-bar {
    position: relative;
    width: 389px;
    height: 10.5px;
    background-color: #d9d9d9;
    border-radius: var(--primitives-border-radius-border-radius-2);
}

.product .review-star-filled {
    position: relative;
    width: 312px;
    height: 10px;
    left: 77px;
    background-color: var(--primitives-color-success-success-500);
    border-radius: var(--primitives-border-radius-border-radius-2);
}

.product .star {
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
}

.product .element {
    position: relative;
    width: 15px;
    font-family: var(--tajawal-18px-meduim-font-family);
    font-weight: var(--tajawal-18px-meduim-font-weight);
    color: var(--gray-700);
    font-size: var(--tajawal-18px-meduim-font-size);
    text-align: center;
    letter-spacing: var(--tajawal-18px-meduim-letter-spacing);
    line-height: var(--tajawal-18px-meduim-line-height);
    font-style: var(--tajawal-18px-meduim-font-style);
}

.product .huge-icon-interface {
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: 1rem;
}

.product .div {
    width: auto !important;
    left: unset !important;
    position: relative;
    height: 10px;
    background-color: var(--primitives-color-success-success-500);
    border-radius: var(--primitives-border-radius-border-radius-2);
}

.product .review-star-filled-2 {
    width: 58px;
    left: 331px;
    position: relative;
    height: 10px;
    background-color: var(--primitives-color-success-success-500);
    border-radius: var(--primitives-border-radius-border-radius-2);
}

.product .review-star-filled-3 {
    width: 35px;
    left: 354px;
    position: relative;
    height: 10px;
    background-color: var(--primitives-color-success-success-500);
    border-radius: var(--primitives-border-radius-border-radius-2);
}

.product .review-star-filled-4 {
    width: 8px;
    left: 381px;
    position: relative;
    height: 10px;
    background-color: var(--primitives-color-success-success-500);
    border-radius: var(--primitives-border-radius-border-radius-2);
}

.product .overall-rating {
    display: flex;
    flex-direction: column;
    width: 210px;
    align-items: center;
    gap: 16px;
    padding: 16px 24px;
    position: relative;
    margin-right: -4.76px;
    background-color: var(--design-tokens-off-white);
    border-radius: var(--primitives-border-radius-border-radius-2);
}

.product .overall-rating-title {
    margin-top: -1.00px;
    font-weight: var(--headline-bold-h6-font-weight);
    color: var(--design-tokens-black);
    font-size: var(--headline-bold-h6-font-size);
    line-height: var(--headline-bold-h6-line-height);
    direction: rtl;
    position: relative;
    align-self: stretch;
    font-family: var(--headline-bold-h6-font-family);
    text-align: center;
    letter-spacing: var(--headline-bold-h6-letter-spacing);
    font-style: var(--headline-bold-h6-font-style);
}

.product .overall-rating-score {
    font-weight: 700;
    color: var(--design-tokens-black);
    font-size: 34px;
    line-height: normal;
    position: relative;
    align-self: stretch;
    
    text-align: center;
    letter-spacing: 0;
}

.product .span {
    
    font-weight: 700;
    color: #121212;
    font-size: 34px;
    letter-spacing: 0;
}
.product .rating {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 28px;
    margin-left: -10.00px;
}

.product .overall-rating-count {
    font-weight: var(--subtitle-sub-m-font-weight);
    color: var(--design-tokens-meta);
    font-size: var(--subtitle-sub-m-font-size);
    line-height: var(--subtitle-sub-m-line-height);
    direction: rtl;
    position: relative;
    align-self: stretch;
    font-family: var(--subtitle-sub-m-font-family);
    text-align: center;
    letter-spacing: var(--subtitle-sub-m-letter-spacing);
    font-style: var(--subtitle-sub-m-font-style);
}

.product .review {
    display: flex;
    flex-direction: column;
    width: 1188px;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
    margin-left: -28.00px;
}

.product .review-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 8px;
    padding: 0px 0px 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: var(--primitives-color-gray-gray-100);
}

.product .single-review {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.product .reviewer-info {
    display: flex;
    width: 188px;
    align-items: flex-start;
    gap: 16px;
    position: relative;
}

.product .review-stars {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.product .review-star {
    position: relative;
    width: 20px;
    height: 20px;
}

.product .img {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: -3.00px;
}

.product .review-purchase-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px 8px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ff5c0133;
    border-radius: 8px;
}

.product .purchase-tag-text {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    
    font-weight: 500;
    color: var(--tokens-primary-color);
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    direction: rtl;
}

.product .reviewer-name {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.product .reviewer-name-wrapper {
    display: flex;
    flex-direction: column;
    width: 77px;
    align-items: flex-end;
    gap: 1px;
    position: relative;
}

.product .reviewer-name-2 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    
    font-weight: 500;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    direction: rtl;
}

.product .reviewer-avatar {
    position: relative;
    width: 50px;
    height: 48px;
    margin-right: -2.00px;
}

.product .overlap-group {
    position: relative;
    width: 48px;
    height: 48px;
    background-color: var(--design-tokens-off-white);
    border-radius: 24px;
}

.product .reviewer-initials {
    position: absolute;
    width: 34px;
    top: 14px;
    left: 8px;
    
    font-weight: 700;
    color: var(--design-tokens-primary-brand);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    direction: rtl;
}

.product .review-text {
    position: relative;
    width: 955px;
    font-family: var(--button-aa-large-m-font-family);
    font-weight: var(--button-aa-large-m-font-weight);
    color: var(--design-tokens-meta-duplicate);
    font-size: var(--button-aa-large-m-font-size);
    letter-spacing: var(--button-aa-large-m-letter-spacing);
    line-height: var(--button-aa-large-m-line-height);
    direction: rtl;
    font-style: var(--button-aa-large-m-font-style);
}

// tab2 styles end


// tab3 styles start
html:lang(en){
    direction: rtl;
}
.tab3-container {
    display: flex;
    flex-direction: column;
    width: 1208px;
    align-items: flex-end;
    gap: 24px;
    padding: 16px 24px;
    position: relative;
    background-color: var(--design-tokens-white);
    border-radius: 16px;
    direction: ltr;
}

.tab3-container .describe-review {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
    padding: 8px 0px 0px 112px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
    border-color: var(--primitives-color-gray-gray-100);
}

.tab3-container .product-description {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px 8px 8px;
    position: relative;
    flex: 0 0 auto;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: var(--design-tokens-color-test);
}

.tab3-container .product-reviews {
    position: relative;
    width: fit-content;
    margin-top: -2.00px;
    
    font-weight: 700;
    color: var(--design-tokens-color-test);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    direction: rtl;
}

.tab3-container .reviews-count {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px 8px 8px;
    position: relative;
    flex: 0 0 auto;
}

.tab3-container .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    
    font-weight: 400;
    color: var(--tokens-text-primary);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    direction: rtl;
}

.tab3-container .make-a-review {
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: flex-end;
    gap: 32px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.tab3-container .frame {
    flex-direction: column;
    width: 236px;
    align-items: flex-end;
    justify-content: center;
    gap: 8px;
    display: flex;
    position: relative;
    flex: 0 0 auto;
}

.tab3-container .div {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-weight: 700;
    color: var(--tokens-text-primary);
    font-size: 18px;
    
    letter-spacing: 0;
    line-height: normal;
    direction: rtl;
}

.tab3-container .p {
    position: relative;
    align-self: stretch;
    font-weight: var(--tajawal-18px-meduim-font-weight);
    color: #000000;
    font-size: var(--tajawal-18px-meduim-font-size);
    text-align: center;
    font-family: var(--tajawal-18px-meduim-font-family);
    letter-spacing: var(--tajawal-18px-meduim-letter-spacing);
    line-height: var(--tajawal-18px-meduim-line-height);
    direction: rtl;
    font-style: var(--tajawal-18px-meduim-font-style);
}

.tab3-container .input-forms {
    flex-direction: column;
    width: 547px;
    align-items: flex-end;
    justify-content: center;
    flex: 0 0 auto;
    display: flex;
    gap: 8px;
    position: relative;
}

.tab3-container .text-wrapper-2 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-weight: 500;
    color: var(--gray-900);
    font-size: 16px;
    
    letter-spacing: 0;
    line-height: normal;
    direction: rtl;
}

.tab3-container .frame-2 {
    align-items: center;
    justify-content: flex-end;
    padding: 8px 0px;
    align-self: stretch;
    width: 100%;
    display: flex;
    position: relative;
    flex: 0 0 auto;
}

.tab3-container .star {
    position: relative;
    width: 32px;
    height: 32px;
}

.tab3-container .text-wrapper-3 {
    position: relative;
    align-self: stretch;
    font-weight: var(--tajawal-14px-meduim-font-weight);
    color: var(--gray-900);
    font-size: var(--tajawal-14px-meduim-font-size);
    font-family: var(--tajawal-14px-meduim-font-family);
    letter-spacing: var(--tajawal-14px-meduim-letter-spacing);
    line-height: var(--tajawal-14px-meduim-line-height);
    direction: rtl;
    font-style: var(--tajawal-14px-meduim-font-style);
}

.tab3-container .textarea-input-field {
    display: flex;
    flex-direction: column;
    height: 89px;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: var(--primitives-color-gray-gray-50);
    border-radius: 8px;
}

.tab3-container .textarea-input-field-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
}

.tab3-container .input-with-label {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 6px;
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
}

.tab3-container .input {
    align-items: center;
    padding: 10px 14px;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
    background-color: var(--primitives-color-gray-gray-100);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--shadow-xs);
    display: flex;
    gap: 8px;
    position: relative;
}

.tab3-container .text {
    position: relative;
    flex: 1;
    align-self: stretch;
    margin-top: -1.00px;
    font-weight: var(--tajawal-12px-regular-font-weight);
    color: var(--gray-400);
    font-size: var(--tajawal-12px-regular-font-size);
    font-family: var(--tajawal-12px-regular-font-family);
    letter-spacing: var(--tajawal-12px-regular-letter-spacing);
    line-height: var(--tajawal-12px-regular-line-height);
    direction: rtl;
    font-style: var(--tajawal-12px-regular-font-style);
}

.tab3-container .add-to-cart {
    display: flex;
    width: 305.5px;
    align-items: center;
    justify-content: center;
    padding: 8px 0px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: var(--design-tokens-color-test);
    border-radius: 8px;
}

.tab3-container .title {
    position: relative;
    width: 234px;
    height: 37px;
    margin-top: -8.00px;
    margin-bottom: -8.00px;
}

.tab3-container .text-wrapper-4 {
    position: absolute;
    width: 234px;
    top: 6px;
    left: 0;
    font-weight: var(--tajawal-18px-meduim-font-weight);
    color: var(--design-tokens-white);
    font-size: var(--tajawal-18px-meduim-font-size);
    text-align: center;
    font-family: var(--tajawal-18px-meduim-font-family);
    letter-spacing: var(--tajawal-18px-meduim-letter-spacing);
    line-height: var(--tajawal-18px-meduim-line-height);
    direction: rtl;
    font-style: var(--tajawal-18px-meduim-font-style);
}
// tab3 styles end

.tab-active{
    color: var(--design-tokens-color-test) !important;
    border-bottom-style: solid;
    font-weight: 700;
    border-bottom-width: 2px;
    border-color: var(--design-tokens-color-test);
    
    font-size: 16px;
}