<section class="shopping-cart">
  <div class="container">
    <!-- Start Breadcrumb -->
    <ul class="breadcrumb d-flex align-items-center">
      <li>
        <a routerLink="/">الرئيسية</a>
      </li>
      <li>
        <img src="assets/images/arrow-bread.png" alt="">
      </li>
      <li>
        سلة الشراء
      </li>
    </ul>
    <!-- End Breadcrumb -->

    <!-- Cart Content -->
    <div class="n-card d-flex align-items-start justify-content-between">
      <div class="cart-items">
        <div class="item d-flex align-items-center">
          <div class="img">
            <img src="assets/images/product-slider-img.svg" alt="">
          </div>
          <div class="item-content">
            <div class="item-info d-flex align-items-center justify-content-between">
              <h3 class="item-name">
                دجاج زربيان 
              </h3>
              <div class="cost">
                38 <span class="currency">ر.س</span>
              </div>
            </div>
            <div class="item-count d-flex align-items-center justify-content-between">
              <div class="count d-flex align-items-center">
                <i class="fas fa-plus" (click)="increment()"></i>
                <input type="number" minlength="1" value="{{counterValue}}">
                <i class="fas fa-minus" (click)="decrement()"></i>
              </div>
              <div class="item-actions d-flex align-items-center">
                <div class="action favourite" [class.active]="favouriteIcon">
                  <img src="assets/images/favourite.svg" alt="" class="dislike" (click)="activeFavouriteIcon()">
                  <img src="assets/images/wishlist.svg" alt="" class="like" (click)="activeFavouriteIcon()">
                </div>
                <div class="action delete">
                  <img src="assets/images/addtoWishlist.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item d-flex align-items-center">
          <div class="img">
            <img src="assets/images/sweets.svg" alt="">
          </div>
          <div class="item-content">
            <div class="item-info d-flex align-items-center justify-content-between">
              <h3 class="item-name">
                حلا
              </h3>
              <div class="cost">
                38 <span class="currency">ر.س</span>
              </div>
            </div>
            <div class="item-count d-flex align-items-center justify-content-between">
              <div class="count d-flex align-items-center">
                <i class="fas fa-plus" (click)="increment()"></i>
                <input type="number" minlength="1" value="{{counterValue}}">
                <i class="fas fa-minus" (click)="decrement()"></i>
              </div>
              <div class="item-actions d-flex align-items-center">
                <div class="action favourite" [class.active]="favouriteIcon">
                  <img src="assets/images/favourite.svg" alt="" class="dislike" (click)="activeFavouriteIcon()">
                  <img src="assets/images/wishlist.svg" alt="" class="like" (click)="activeFavouriteIcon()">
                </div>
                <div class="action delete">
                  <img src="assets/images/addtoWishlist.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item d-flex align-items-center">
          <div class="img">
            <img src="assets/images/product-slider-img.svg" alt="">
          </div>
          <div class="item-content">
            <div class="item-info d-flex align-items-center justify-content-between">
              <h3 class="item-name">
                دجاج زربيان 
              </h3>
              <div class="cost">
                38 <span class="currency">ر.س</span>
              </div>
            </div>
            <div class="item-count d-flex align-items-center justify-content-between">
              <div class="count d-flex align-items-center">
                <i class="fas fa-plus" (click)="increment()"></i>
                <input type="number" minlength="1" value="{{counterValue}}">
                <i class="fas fa-minus" (click)="decrement()"></i>
              </div>
              <div class="item-actions d-flex align-items-center">
                <div class="action favourite" [class.active]="favouriteIcon">
                  <img src="assets/images/favourite.svg" alt="" class="dislike" (click)="activeFavouriteIcon()">
                  <img src="assets/images/wishlist.svg" alt="" class="like" (click)="activeFavouriteIcon()">
                </div>
                <div class="action delete">
                  <img src="assets/images/addtoWishlist.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item d-flex align-items-center">
          <div class="img">
            <img src="assets/images/sweets.svg" alt="">
          </div>
          <div class="item-content">
            <div class="item-info d-flex align-items-center justify-content-between">
              <h3 class="item-name">
                حلا
              </h3>
              <div class="cost">
                38 <span class="currency">ر.س</span>
              </div>
            </div>
            <div class="item-count d-flex align-items-center justify-content-between">
              <div class="count d-flex align-items-center">
                <i class="fas fa-plus" (click)="increment()"></i>
                <input type="number" minlength="1" value="{{counterValue}}">
                <i class="fas fa-minus" (click)="decrement()"></i>
              </div>
              <div class="item-actions d-flex align-items-center">
                <div class="action favourite" [class.active]="favouriteIcon">
                  <img src="assets/images/favourite.svg" alt="" class="dislike" (click)="activeFavouriteIcon()">
                  <img src="assets/images/wishlist.svg" alt="" class="like" (click)="activeFavouriteIcon()">
                </div>
                <div class="action delete">
                  <img src="assets/images/addtoWishlist.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cart-bill">
        <h3 class="bill-title">ملخص الشراء</h3>
        <div class="total-price d-flex align-items-center justify-content-between ">
          <div class="label">المجموع الفرعي</div>
          <div class="price">55 ر.س</div>
        </div>
        <button class="btn btn-primary w-100">تنفيذ الطلب</button>
      </div>
    </div>
  </div>
</section>