@import "../../../../assets/variables";

.cart-items {
    max-width: 550px;
    width: 100%;
    margin-inline-end: 24px;
    .item {
        background-color: $white;
        border-radius: 16px;
        padding: 22px 24px;
        margin-bottom: 16px;
        .img {
            width: 85px;
            height: 85px;
            margin-inline-end: 16px;
            flex-shrink: 0;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
        .item-content {
            width: 100%;
            .item-info {
                margin-bottom: 16px;
                .item-name {
                    font-size: 16px;
                    font-weight: 700;
                    color: $headTitle;
                }
                .cost {
                    font-size: 18px;
                    font-weight: 700;
                    color: $headTitle;
                    .currency {
                        font-size: 16px;
                        color: $subTitle;
                    }
                }
            }
            .item-count {
                .count {
                    background-color: $offWhiteBg;
                    border-radius: 8px;
                    padding: 4px 8px;
                    i {
                        width: 24px;
                        height: 24px;
                        text-align: center;
                        line-height: 24px;
                        color: $subTitle;
                        border-radius: 8px;
                        background-color: $white;
                        cursor: pointer;
                    }
                    input {
                        padding: 0;
                        border: 0;
                        text-align: center;
                        max-width: 40px;
                        font-size: 16px;
                        font-weight: 600;
                        color: $subTitle;
                        background-color: transparent;
                        &:focus {
                            outline: none;
                            border: 0;
                            box-shadow: none;
                        }
                    }
                }
                .item-actions {
                    .action {
                        margin-inline-start: 8px;
                        img {
                            cursor: pointer;
                        }
                        &.favourite {
                            .like {
                                display: none;
                            }
                            .dislike {
                                display: block;
                            }
                            &.active {
                                .like {
                                    display: block;
                                }
                                .dislike {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.cart-bill {
    max-width: 385px;
    width: 100%;
    padding: 12px 20px;
    background-color: $white;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 1px 3px 0 #1018281A;
    .bill-title {
        font-size: 21px;
        font-weight: 500;
        color: #101828;
        margin-bottom: 0;
        padding-bottom: 50px;
        border-bottom: 1px solid #D0D5DD;
    }
    .total-price {
        font-size: 16px;
        margin: 50px 0;
        .label {
            color: $headTitle;
            font-weight: 500;
        }
        .price {
            font-weight: 700;
            color: $primaryColor;
        }
    }
}
.no-data {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 330px;
    width: 100%;
    img {
        width: 64px;
        margin-bottom: 32px;
    }
    .desc {
        font-size: 16px;
        font-weight: 500;
        color: $headTitle;
        margin-bottom: 32px;
    }
}

@media (max-width: 992px) {
    .shopping-cart {
        margin-top: 65px;
    }
    .n-card {
        padding: 16px 8px;
        margin-bottom: 150px;
    }
    .cart-items {
        margin-inline-end: 0;
        max-width: 100%;
    }
    .cart-bill {
        position: fixed;
        bottom: 85px;
        max-width: 95%;
        margin: auto;
        left: 0;
        right: 0;
        background-color: #FFF;
        z-index: 9;
        border: 1px solid #D8D8D8;
        border-radius: 22px;
        box-shadow: none;
        padding: 16px 24px;
        .bill-title {
            display: none;
        }
        .total-price {
            margin: 0 0 16px;
        }
    }
}