<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-8">
                        <img src="images/banner1.1.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-4 banner-imgs">
                        <img src="images/banner1.2.png" alt="" class="img-fluid">
                        <img src="images/banner1.3.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="cats-list collapse" id="collapse-banner-cats">
                    <p class="title mb-0">{{'browseCategories' | translate}}</p>
                    <ul class="list-unstyled mb-0">
                        <li class="all-cats">
                            <a class="d-flex align-items-center" href="">
                                <div class="cat-img mb-2 mb-lg-0"><svg xmlns="http://www.w3.org/2000/svg" width="18.092"
                                        height="14.268" viewBox="0 0 18.092 14.268">
                                        <g transform="translate(-504.954 -269.866)">
                                            <g transform="translate(504.954 269.866)">
                                                <path
                                                    d="M18.092,0V2.952H4.888V0ZM3.111,11.316v2.952H0V11.316Zm0-5.658V8.61H0V5.658ZM3.111,0V2.952H0V0ZM18.092,11.316v2.952H4.888V11.316Zm0-5.658V8.61H4.888V5.658Z"
                                                    fill="#000" fill-rule="evenodd" />
                                            </g>
                                        </g>
                                    </svg></div>
                                <span class="ml-0 ml-lg-2">{{'allCategories' | translate}}</span>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex align-items-center" href="#collapse-subcats" data-toggle="collapse"
                                aria-expanded="false">
                                <div class="cat-img mb-2 mb-lg-0"><img src="images/cat1.png" alt="" class="img-fluid">
                                </div>
                                <div class="title d-flex align-items-center justify-content-between">
                                    <span class="ml-0 ml-lg-2">جوالات</span>
                                    <span class="arrow"></span>
                                </div>
                            </a>
                            <ul class="sub-menu list-unstyled collapse" id="collapse-subcats">
                                <li class="submenu-item"><a routerLink="/product/category/1">جوالات</a></li>
                                <li class="submenu-item"><a routerLink="/product/category/1">آيباد</a></li>
                                <li class="submenu-item"><a routerLink="/product/category/1">لابتوبات</a></li>
                                <li class="submenu-item"><a routerLink="/product/category/1">كاميرات</a></li>
                                <li class="submenu-item"><a routerLink="/product/category/1">الكترونيات</a></li>
                                <li class="submenu-item"><a routerLink="/product/category/1">سماعات</a></li>
                                <li class="submenu-item"><a routerLink="/product/category/1">اكسسوارات</a></li>
                                <li class="submenu-item"><a routerLink="/product/category/1">العاب</a></li>
                                <li class="submenu-item"><a routerLink="/product/category/1">باقات</a></li>
                            </ul>
                        </li>
                        <!-- sub item -->
                        <!-- <li>
                            <a class="d-flex align-items-center" href="#collapse-subcats2" data-toggle="collapse" aria-expanded="false">
                                <div class="cat-img mb-2 mb-lg-0"><img src="images/cat1.png" alt="" class="img-fluid"></div>
                                <div class="title d-flex align-items-center justify-content-between">
                                    <span class="ml-0 ml-lg-2">تيست</span>
                                    <span class="arrow"></span>
                                </div>
                            </a>
                            <ul class="sub-menu list-unstyled collapse" id="collapse-subcats2">
                                <li class="submenu-item subitem-collapse">
                                    <a href="#collapse-inner1" data-toggle="collapse" aria-expanded="false"><span class="arrow"></span> sub item</a>
                                    <ul class="sub-submenu list-unstyled collapse" id="collapse-inner1">
                                        <li><a href="#">Inner Sub Item 1</a></li>
                                        <li><a href="#">Inner Sub Item 2</a></li>
                                    </ul>
                                </li>
                                <li class="submenu-item subitem-collapse">
                                    <a href="#collapse-inner2" data-toggle="collapse" aria-expanded="false"><span class="arrow"></span> sub item 2</a>
                                    <ul class="sub-submenu list-unstyled collapse" id="collapse-inner2">
                                        <li><a href="#">Another Inner Sub Item 1</a></li>
                                        <li><a href="#">Another Inner Sub Item 2</a></li>
                                    </ul>
                                </li>
                                <li class="submenu-item"><a routerLink="/product/category/1">لابتوبات</a></li>
                                <li class="submenu-item"><a routerLink="/product/category/1">كاميرات</a></li>
                                <li class="submenu-item"><a routerLink="/product/category/1">الكترونيات</a></li>
                                <li class="submenu-item"><a routerLink="/product/category/1">سماعات</a></li>
                                <li class="submenu-item"><a routerLink="/product/category/1">اكسسوارات</a></li>
                                <li class="submenu-item"><a routerLink="/product/category/1">العاب</a></li>
                                <li class="submenu-item"><a routerLink="/product/category/1">باقات</a></li>
                            </ul>
                        </li> -->
                        <li>
                            <a class="d-flex align-items-center" routerLink="/product/category/1">
                                <div class="cat-img mb-2 mb-lg-0"><img src="images/cat2.png" alt="" class="img-fluid">
                                </div>
                                <span class="title ml-0 ml-lg-2">آيباد</span>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex align-items-center" routerLink="/product/category/1">
                                <div class="cat-img mb-2 mb-lg-0"><img src="images/cat3.png" alt="" class="img-fluid">
                                </div>
                                <span class="title ml-0 ml-lg-2">لابتوبات</span>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex align-items-center" routerLink="/product/category/1">
                                <div class="cat-img mb-2 mb-lg-0"><img src="images/cat4.png" alt="" class="img-fluid">
                                </div>
                                <span class="title ml-0 ml-lg-2">كاميرات</span>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex align-items-center" routerLink="/product/category/1">
                                <div class="cat-img mb-2 mb-lg-0"><img src="images/cat5.png" alt="" class="img-fluid">
                                </div>
                                <span class="title ml-0 ml-lg-2">الكترونيات</span>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex align-items-center" routerLink="/product/category/1">
                                <div class="cat-img mb-2 mb-lg-0"><img src="images/cat6.png" alt="" class="img-fluid">
                                </div>
                                <span class="title ml-0 ml-lg-2">سماعات</span>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex align-items-center" routerLink="/product/category/1">
                                <div class="cat-img mb-2 mb-lg-0"><img src="images/cat7.png" alt="" class="img-fluid">
                                </div>
                                <span class="title ml-0 ml-lg-2">اكسسوارات</span>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex align-items-center" routerLink="/product/category/1">
                                <div class="cat-img mb-2 mb-lg-0"><img src="images/cat8.png" alt="" class="img-fluid">
                                </div>
                                <span class="title ml-0 ml-lg-2">العاب</span>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex align-items-center" routerLink="/product/category/1">
                                <div class="cat-img mb-2 mb-lg-0"><img src="images/cat9.png" alt="" class="img-fluid">
                                </div>
                                <span class="title ml-0 ml-lg-2">باقات</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>