.main-content {
    position: relative;
    padding-top: 144px;
    min-height: calc(100vh - 326px);
}

@media (max-width: 991px) {
    .main-content {
        padding-top: 0;
        padding-bottom: 80px;
    }
}