<div class="features mb-5 pt-4">
    <div class="container">
        <div class="features-list d-flex flex-wrap align-items-start justify-content-center">
            <div class="feature-box d-flex flex-column align-items-center">
                <div class="img-container mb-2 d-flex align-items-center justify-content-center"><img 
                        src="images/feature1.png" alt="" class="img-fluid"></div>
                <p class="mb-0">ضمان على المنتجات</p>
            </div>
            <div class="feature-box d-flex flex-column align-items-center">
                <div class="img-container mb-2 d-flex align-items-center justify-content-center"><img 
                        data-aos-delay="100" src="images/feature2.png" alt="" class="img-fluid"></div>
                <p class="mb-0">خدمة عملاء متميزة</p>
            </div>
            <div class="feature-box d-flex flex-column align-items-center">
                <div class="img-container mb-2 d-flex align-items-center justify-content-center"><img 
                        data-aos-delay="200" src="images/feature3.png" alt="" class="img-fluid"></div>
                <p class="mb-0">توصيل سريع لباب البيت</p>
            </div>
            <div class="feature-box d-flex flex-column align-items-center">
                <div class="img-container mb-2 d-flex align-items-center justify-content-center"><img 
                        data-aos-delay="300" src="images/feature4.png" alt="" class="img-fluid"></div>
                <p class="mb-0">الرضا لدى العملاء 96%</p>
            </div>
            <div class="feature-box d-flex flex-column align-items-center">
                <div class="img-container mb-2 d-flex align-items-center justify-content-center"><img 
                        data-aos-delay="400" src="images/feature5.png" alt="" class="img-fluid"></div>
                <p class="mb-0">نسبة تكرار الشراء 56%</p>
            </div>
        </div>
    </div>
</div>