<div class="custom-thumbs-slider">
  <div class="custom-main-image">
    <img #mainImage id="mainImage" src="https://picsum.photos/id/22/600/400" alt="Main Image">
  </div>
  <div class="custom-thumbnails-wrapper">
    <button class="custom-arrow custom-arrow-left" #prevArrow id="prevArrow">&#10094;</button>
    <div class="custom-thumbnails" #thumbContainer id="thumbContainer">
      <img class="custom-thumb" src="https://picsum.photos/id/22/600/400" alt="Thumb 1" data-large="https://picsum.photos/id/22/600/400">
      <img class="custom-thumb" src="https://picsum.photos/id/10/600/400" alt="Thumb 2" data-large="https://picsum.photos/id/10/600/400">
      <img class="custom-thumb" src="https://picsum.photos/id/20/600/400" alt="Thumb 3" data-large="https://picsum.photos/id/20/600/400">
      <img class="custom-thumb" src="https://picsum.photos/id/30/600/400" alt="Thumb 4" data-large="https://picsum.photos/id/30/600/400">
      <img class="custom-thumb" src="https://picsum.photos/id/40/600/400" alt="Thumb 5" data-large="https://picsum.photos/id/40/600/400">
    </div>
    <button class="custom-arrow custom-arrow-right" #nextArrow id="nextArrow">&#10095;</button>
  </div>
</div>
